img {
		width:100%
}
	
body {
	
    font-family: "Courier New", Arial, sans-serif;
    
    font-size: 15px;
    background-color: #1c1c1c;
    color: #FFFFFF;
}
	
a, a:visited {
    color: #FFFFFF;
    opacity: 0.54;
    text-decoration: underline;
}
	
a:hover {
    opacity: 0.87;
    color: #FFFFFF;
    text-decoration: underline;
}
	
h1 {
    font-weight: normal;
    color: #FFFFFF;
}
