img {
		width:70%;
		display: block;
		margin-left: auto;
		margin-right: auto
}
	
body {
	
    /*font-family: "Courier New", Arial, sans-serif;*/
	font-family: 'Space Mono', monospace;
    /* text-align: justify; */
    font-size: 16px;
    background-color: #161616;
    color: #FFFFFF;
}
	
a, a:visited {
    color: #FFFFFF;
    opacity: 0.54;
    text-decoration: underline;
}
	
a:hover {
    opacity: 0.87;
    color: #FFFFFF;
    text-decoration: underline;
}
	
h1 {
    font-weight: normal;
    color: #FFFFFF;
}

hr, p, h1 {
	margin-right: 8px;
}
