body {
    font-family: "Courier New",Arial,sans-serif;
    font-size: 15px;
    background-color: #1c1c1c;
    color: #93a1a1;
}

a, a:visited {
    color: #268bd2;
    text-decoration: underline;
}

a:hover {
    color: #2aa198;
    text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    color: #93a1a1;
}

strong {
    font-weight: normal;
}

#wrapper {
    width: 760px;
    padding: 0px;
    margin: auto;
}

#header {
    padding: 4px 4px 4px 0;
}

#header .big {
    font-size:   140%;
    color: #d7d7d7;
    /*font-weight: bold;*/
}

#header .small {
    font-size:    90%;
    color:        grey;
    padding-left: 15px;
}

#nav {
    padding: 6px 6px 6px 0;
}

#footer {
    padding: 8px;
}

img[alt=avatar] {
    width: 150px;
}

