@font-face {
	font-family: MyFirstf;
	src: url(DroidSansMono.ttf)
}
body {
    font-family: MyFirstf;
    font-size: 15px;
    background-color: #1c1c1c;
    color: #FFFFFF;
}

a, a:visited {
    color: #FFFFFF;
    opacity: 0.54;
    text-decoration: underline;
}

a:hover {
    opacity: 0.87;
    color: #FFFFFF;
    text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    color: #FFFFFF;
}

strong {
    font-weight: normal;
}

#wrapper {
    width: 760px;
    padding: 0px;
    margin: 0 10%;
}

#header {
    padding: 4px 4px 4px 0;
}

#header .big {
    font-size:   140%;
    color: #d7d7d7;
    /*font-weight: bold;*/
}

#header .small {
    font-size:    90%;
    color:        grey;
    padding-left: 15px;
}

#nav {
    padding: 6px 6px 6px 0;
}

#footer {
    padding: 8px;
}

img[alt=avatar] {
    width: 150px;
    opacity: 0.87;
}

