<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	
	<link rel="stylesheet" media="screen and (min-device-width: 800px)" href="{{ site.path }}/css/style.css" />
	<link rel="stylesheet" media="screen and (max-device-width: 799px)" href="{{ site.path }}/css/mob.css" />
	
	<title>{{ page.title }} - Eqlion</title>
	<meta name="theme-color" content="#1c1c1c">
	
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.path }}/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.path }}/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.path }}/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.path }}/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.path }}/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.path }}/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.path }}/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.path }}/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.path }}/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.path }}/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.path }}/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.path }}/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.path }}/icons/favicon-16x16.png">
	
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ site.path }}/icons/ms-icon-144x144.png">
</head>
<body>

<div id="wrapper">
    <div id="header">
        <span class='big'>{{ site.title }}</span>
        <span class='small'>{{ site.subtitle }}</span>
    </div>

    <!--<hr align="center" width="760"> -->

    <div id="content">
        {{ content }}
    </div>

    <!--<hr align="center" width="760"> -->

</div>
</body>
</html>
