<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#1c1c1c">
    <title>{{ page.title }} - Eqlion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ site.path }}/css/style.css" >
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="icon" type="image/png" href="/favicon.png" sizes="96x96>
</head>
<body>

<div id="wrapper">
    <div id="header">
        <span class='big'>{{ site.title }}</span>
        <span class='small'>{{ site.subtitle }}</span>
    </div>

    <hr align="center" width="760">

    <div id="content">
        {{ content }}
    </div>

    <hr align="center" width="760">

</div>
</body>
</html>
